* {
    padding: 0px;
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-font-regular {
    font-family: "Poppins", "serif";
    font-weight: 400;
    font-style: normal;
}

/* Shared Styles Start */
.display-flex {
    display: flex;
}

/* Shared Styles End */


/* Nav bar Styles Start */
body {
    max-width: 1440px;
    width: auto;
    margin: 0 auto;
}

header {
    padding: 0rem 7.5rem;
}

.nav-bar-container {
    padding: 6.25rem 0rem 3.125rem;
    justify-content: space-between;
    align-items: center;
}

.page-name {
    font-size: 24px;
    font-weight: 700;
    color: rgb(58, 58, 58);
}

.nav-menu-items {
    gap: 2rem;
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(58, 58, 58);
}

.nav-menu-items a {
    text-decoration: none;
}

/* Nav bar Styles End */

/* Banner Styles Start */

.banner-container {
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.banner-title {
    font-size: 52px;
    font-weight: 700;
    color: rgb(58, 58, 58);
    text-align: left;
}

.banner-description {
    font-size: 16px;
    font-weight: 600;
    color: rgb(58, 58, 58);
    text-align: left;
    padding: 15px 0px;

}

.banner-images {
    padding: 50px 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url(./images/Circle\ design.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.prebook-btn {
    font-size: 16px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 24px;
    border-radius: 40px;
    background: rgb(224, 44, 109);
    align-items: center;
    justify-content: center;
}

/* Banner Styles End */


/* Main Styles Start */
main {
    padding: 0rem 7.5rem;
}

/* Brands logos Section styles Start */



/* Brands logos Section styles End */
/* Main Styles End */
.brands-logos-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
}


/* Responsive Styles Start */
@media screen and (max-width: 575px) {

    /* Header Styles Start */
    header {
        padding: 0rem 2rem;
    }

    .nav-bar-container {
        justify-content: left;
        flex-direction: column;
        padding: 50px 0px 50px;
    }

    .nav-menu-items {
        padding: 50px 0px 50px;
    }

    .banner-container {
        flex-direction: column-reverse;
        padding: 10px 0px 10px;
        margin: 0px 25px;
        align-content: center;
    }

    .banner-title {
        font-size: 28px;
        text-align: center;
    }

    .banner-description {
        font-size: 14px;
        text-align: center;
    }

    /* Header Styles End */

    /* Main Styles Start */
    main {
        padding: 0rem 2rem;
    }
    /* Brands Logos Styles Start */
    .brands-logos-container {
        grid-template-columns: repeat(4, 1fr);
    }
    /* Brands Logos Styles End */

    
}

/* Responsive Styles End */